$primary: rgb(98, 54, 255);
$yaleblue: rgb(6, 71, 137);
$steelblue: rgb(66, 122, 161);
$aliceblue: rgb(235, 242, 250);
$green: rgb(103, 148, 54);
$olivegreen: rgb(165, 190, 0);
$cream: #faf2eb;
$white: #fff;
$black: #000;
$dark-blue: #0e093f;
$faded-blue: #4a476f;
$light-grey: rgb(231,232,237);

$padding-mobile: 0 1.5rem;
$padding-web: 0 7.5rem;

$header-font: 'Roboto', sans-serif;
$regular-font: 'Source Sans Pro', sans-serif;