@import "../base/variables";
@import "../base/mixins";

.header {
	position: absolute;
	background-color: color;
	padding-top: 1rem;
	padding-bottom: 1rem;
    width: 100%;
	ul {
		list-style-type: none;
        li {
            margin: 0px 1rem;
        }
	}
}
.static {
	position: static;
	background-color: white;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}
